.to-do-task {
  height: 90vh;
  max-width: 100%;
  background-position: right;

  &__form {
    margin-top: 3rem;
    margin-left: 2rem;
    max-width: 50rem;

    @include responsive(tab-port) {
      margin-left: 0;
    }

    .v-btn:not(:last-child) {
      margin-right: 1rem;
    }
    .v-btn {
      margin-bottom: 1rem;
    }

    .v-list-item__title {
      font-size: 1.5rem;
    }
  }

  a {
    margin-left: 2rem;
    font-size: 2rem;
    @include responsive(tab-port) {
      margin-left: 0;
    }
  }
}
